<div class="span3 info">
  <table class="table">

  </table>
  <table>
    <thead>
      <tr>
        <h4>This is the test</h4>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input name="new_post" class="btn btn-primary" type="submit" value="Save Draft">
        </td>
        <td>
          <input name="new_post" class="btn btn-primary" type="submit" value="Publish">
        </td>
      </tr>
    </tbody>
  </table>
</div>
