<div class="span3 info">
  <table class="table">

  </table>
  <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= f.label :status %>
          <%= f.select(:status, Ryte::Post::ALLOWED_STATUSES.map{|x| x.capitalize}) %>
          <input name="new_post" class="btn btn-primary" type="submit" value="Save Post">
        </td>
      </tr>
    </tbody>
  </table>
</div>
