<h3> Posts </h3>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Title<th>
      <th>Status<th>
      <th>Updated At<th>
    </tr>
  </thead>
  <tbody>
    <%= render collection: @posts, partial: 'ryte/admin/posts/post' %>
  </tbody>
</table>
