/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-responsive.min.css
 *= require bootstrap.min.css
 *= require font-awesome
 *= require font-awesome-ie7
 */

body {
  background-color: #f6f6f6;
}

p, h1, h2, h3, li {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

p {
  font-size: 18px;
}

h1 {
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style: none;
}

#page {
  margin: 40px 10%;
}

.header {
  margin-bottom: 40px;
}

.nav-pills > li > a {
  color: silver;
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
}

.post-list {
  margin: 0;
}

ul.post-list > li:first-child {
  padding: 30px 0 40px;
  border: none;
  position: relative;
}

ul.post-list > li {
  padding: 30px 0 40px;
  border-top: 1px solid #D2D2D2;
  float: left;
}

.meta {
  float: left;
  margin: 5px 0 0;
}

.meta > ul {
  margin-left: 0px;
}

.meta > ul li {
  font-size: 18px;
  color: #aaa;
}

.icon-calendar {
  margin-top: 5px;
  margin-right: 5px;
}

.content {
  float: left;
}

.content-title {
  margin-bottom: 15px;
}
